<head>
    <title>Starred Repos</title>
</head>
<body>
    <h2>You have {{count}} starred repositories:</h2>
    <form action="/return_json" method="get">
        <input type="submit" value="Get JSON">
    </form>
    <form action="/logout" method="get">
        <input type="submit" value="Log Out">
    </form>
    {%for repo in stars%}
        <h3><a href="{{repo['url']}}">{{repo['name']}}</a></h3>
        {%if repo['description']%}
            <i>{{repo['description']}}</i>
        {%endif%}
        {%if repo['license']%}
            <p>{{repo['license']['name']}}</p>
        {%endif%}
        {%if repo['topics']%}
            <p>Topics:</p>
            <ul>
                {%for t in repo['topics']%}
                    <li>{{t}}</li>
                {%endfor%}
            </ul>
        {%endif%}
    {%endfor%}
</body>
